/* Normal desktop :1200px. */
@media (min-width:1200px){
    .container{max-width:1240px;}
    .alignwide,
    .alignfull{min-width:1024px;}
    .col-lg-8 .alignwide,
    .col-lg-8 .alignfull{min-width:unset;}
}

/* Normal desktop :992px. */
@media (min-width:992px){
    .widget-area{padding-left:30px;}
    .col-1-5{-ms-flex:0 0 20%;flex:0 0 20%;max-width:20%;}
    .col-2-5{-ms-flex:0 0 40%;flex:0 0 40%;max-width:40%;}
    .col-3-5{-ms-flex:0 0 60%;flex:0 0 60%;max-width:60%;}
    .col-4-5{-ms-flex:0 0 80%;flex:0 0 80%;max-width:80%;}
    .entry-wraper,
    .entry-header.entry-header-style-1,
    .single-comment{max-width:800px;margin:0 auto;}
}

/* small mobile :992px. */
@media (max-width:992px){
    .comment-form .email{padding-left:0px;}
    .logo,
    .header-tools{position:relative;z-index:999}
    .preloader::before,
    .counter{font-size:8em}
    .open-search-form .main-search-form{width:100%;}
    button.search-icon.search-icon-close{top:20px;right:30px;}
    .header-style-2 .header-logo{position:absolute;top:5px;left:50%;padding:0!important;transform:translateX(-50%);}
    .header-style-2.sticky-bar .header-logo{display:inline-block!important;}
    .header-style-2{padding:10px 0;}
    .main-header li.menu-item-has-children > a::after{content:none}
}

/* small mobile :768px. */
@media (max-width:767px){
    .comment-form .name{padding-right:0px;margin-bottom:1rem;}
}

/* Large Mobile :480px. */
@media (max-width:480px){
    .comments-area{padding:50px 8px;}
    .vertical-divider > [class*="col-"]:nth-child(n+2)::after{content:none;}
    .mb-sm-4{margin-bottom:1.5rem!important;}
    .mb-sm-3{margin-bottom:1rem!important;}
    .mt-sm-4{margin-top:1.5rem!important;}
    .mt-sm-3{margin-top:1rem!important;}
    .pl-0{padding-left:24px!important;}
    .col-xs-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%;}
    .home-featured-1 .img-hover-slide{min-height:450px;}
    .preloader::before{font-size:3em}
    .loop-list-style-1 .post-thumb{margin-bottom:15px;}
    .featured-1 h2{font-size:30px;font-weight:900;}
    .entry-header .entry-title{font-size:2.2em;}
    .featured-slider-2-items .post-thumb .thumb-overlay{min-height:450px;}
    .featured-slider-2 .post-content-overlay .post-title{max-width:100%;}
    .featured-slider-2-nav{display:none}
    .entry-header-style-2{min-height:300px;}
}
@media (max-width:567px){
    .sticky-bar {display: none;}
    .mobile_logo{position:absolute;left:50%;transform:translateX(-50%);z-index:1000; margin-top: 5px;}
    .header-style-1,
    .header-style-2{height:65px;}
    .header-style-2{border-bottom:1px solid var(--primary-border-color)}
    .header-style-2.sticky-bar .header-logo{display:none!important;}
    .slicknav_btn{top:5px;}
    .mobile-search{position:absolute;right:10px;z-index:999;top:16px;}
    .mobile-search .btn-login{ background-color: transparent !important; padding: 0;margin-top: -2px;}
    .mobile-search .search-icon{margin-top: -5px;}
    button.search-icon{background:none;width:25px;height:20px;border:none;padding:0;margin:0;}
    .slicknav_nav{margin-top:25px;}
    .post-meta.rotate-90.top-left{left:0;top:0;background:#fff;padding:5px;}
    .dark-mode .post-meta.rotate-90.top-left{background:#3b3d40;}
    .post-module-2.p-80{padding:15px!important;}
    figure.mb-0{margin-bottom:15px!important;}
    .carausel-3-columns-center-mode figure.mb-0{margin-bottom:0!important;}
}

/*Masonry*/
@media (max-width:575px){
    .grid-sizer,
    .grid-item{width:100%;}
    .grid-line{display:none}
}
@media (min-width:576px) and (max-width:767px){
    .grid-sizer,
    .grid-item{width:50%;}
}
@media (min-width:768px){
    .grid-sizer,
    .grid-item{width:33.333%;}
}
@media (min-width:576px){
    .container-larger{max-width:560px;}
}

/*container larger*/
.container-larger{width:100%;}
@media (min-width:576px){
    .container-larger{max-width:540px;}
}
@media (min-width:768px){
    .container-larger{max-width:720px;}
}
@media (min-width:992px){
    .container-larger{max-width:960px;}
}
@media (min-width:1200px){
    .container-larger{max-width:1440px;}
}